@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: rgb(161, 100, 223);
    font-family: 'Open Sans', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: rebeccapurple;
    color: #ffffff;
    margin: 30px;
    padding: 16px 32px;
    font-family: inherit;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    outline: none;
}

.btn:active {
    transform: scale(0.95);
}

.btn:hover {
    opacity: 0.7;
    cursor: pointer;
}